extends layout

block content

 .row
  h1.register Change Password
  h6 Fill out the fields down below
    if messages.incorrect
     h6.center.flash-error   #{messages.incorrect}
      i.material-icons    info
    if messages.passwordchanged
     h6.center.flash-success   #{messages.passwordchanged}
      i.material-icons    done
  form(id="#form" method="post").col.s12
    .row
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix security
        input(type='password' name='old' placeholder="Enter old password"  required id="icon_prefix" class="validate" autofocus)
        label(for='icon_prefix' data-error="Enter the password Thanks! 🤗") 
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix security
        input(type='password' name='password' placeholder="Enter new password"  required id="icon_prefix" class="validate email")
        label(for='icon_prefix' data-error="Enter a password THANKS! 🤗")
    .row
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix security
        input(type='password' name='confirm_password' placeholder="Confirm Password"  required id="icon_prefix" class="validate" autofocus)
        label(for='icon_prefix' data-error="Confirm password Thanks! 🤗") 
    button.btn.btn-primary.move.btn-large.login.changepwd(type='submit' data-position="bottom" data-delay="50" data-tooltip="")
     span.login-text
      |Change Password
      i.material-icons.right.white-text lock_open