extends layout

block content
  .container
    .row
      .col.s12
        .message-wrapper
          h1.center-align.msghead
            | 💩 we've hit a wall 😟
          h2.center-align.white-text= error.status
          h2.center-align.white-text= error.stack
          h3.center-align= message
          br
          button.btn.btn-primary.move.btn-large
            a(href="/users/") Return to safety
          
