extends layout

block content

 .row
  h1.register Forgot Password
  h6 Fill out the fields down below
  form(id="#form" method="post").col.s12
    .row
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix contact_mail
        input(type='email' name='email' placeholder="Email"  required="true" id="icon_prefix" class="validate email")
        label(for='icon_prefix' data-error="Enter the correct format THANKS! 🤗") 
                
    
    
        
    button.btn.btn-primary.move.register-btn.btn-large.checkpass(type='submit') SUBMIT