extends layout

block content
  h1= title
  p Welcome to #[em CHIPS INVENTORY], you're logged in as #{user.name}.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The Inventory has the following record counts:

    ul
        li #[strong Items:] !{data.item_count}
    