extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='name') Item Name:
      input#name.form-control(type='text', placeholder='Iten Name' name='name' required='true',value=(undefined===item ? '' : item.name))
    div.form-group
      label(for='quantity') Quantity:
      input#quantity.form-control(type='number', placeholder='Quantity' name='quantity' required='true',value=(undefined===item ? '' : item.quantity))
    div.form-group
      label(for='price') Price
      input#price.form-control(type='number', name='price',required='true',value=(undefined===item ? '' : item.price) )
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg