doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Compiled and minified CSS
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    script(src='https://cdn.onesignal.com/sdks/OneSignalSDK.js', async='')
    script(src='/javascripts/onesignal.js')
    script(src='/javascripts/jquery.min.js')
    link(rel="stylesheet", href="/stylesheets/animate.css")
    link(rel="stylesheet",href="/stylesheets/hover.css")

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/countup/countUp.js")
  body
    div(class='container fluid')
      div(class='row')
        ul#slide-out.side-nav.primary
          div(class="list-wrap")
            if !user
              li
                a(href="/users/login")
                  i.material-icons.white-text person
                  | Login
              li
                a(href="/users/register")
                  i.material-icons.white-text person_add
                  | Register
            if user
                if  user.admin==false
                  li
                    a(href="/inventory").userlink  
                      i.material-icons.white-text home
                      |  Home
                  li
                    a(href="/users/consumer").userlink 
                      i.material-icons.white-text shopping_basket
                      |  View Products
                  li 
                    a(href="/users/changepassword/"+user._id).userlink 
                      i.material-icons.white-text lock_outline
                      | Change Password
                  li
                    a(href="/users/cart").userlink 
                      i.material-icons.white-text shopping_cart
                      | My Cart
                  li 
                    a(href="/users/order/"+user._id).userlink 
                      i.material-icons.white-text done_all
                      | Completed Orders
                  li
                    a(href="/users/logout").userlink 
                      i.material-icons.white-text input
                      | Logout
                else
                    li
                      a(href="/inventory").userlink  
                        i.material-icons.white-text home
                        |  Home
                    li
                      a(href="/inventory/items").userlink 
                        i.material-icons.white-text list
                        | Products
                    li
                      a(href="/users/profit").userlink 
                        i.material-icons.white-text insert_chart
                        | Profits and Expenses
                    li
                      a(href="/inventory/item/create").userlink 
                        i.material-icons.white-text add_shopping_cart
                        | Add Product
                    li 
                      a(href="/users/order/").userlink 
                        i.material-icons.white-text view_list
                        | Orders
                    li
                      a(href="/users/consumer").userlink 
                        i.material-icons.white-text shopping_basket
                        |  View Products
                    li 
                      a(href="/users/changepassword/"+user._id).userlink 
                        i.material-icons.white-text lock_outline
                        | Change Password
                    li
                      a(href="/users/cart").userlink 
                        i.material-icons.white-text shopping_cart
                        | My Cart
                    li 
                      a(href="/users/order/"+user._id).userlink 
                        i.material-icons.white-text done_all
                        | Completed Orders
                    li
                      a(href="/users/logout").userlink 
                        i.material-icons.white-text input
                        | Logout 
          block sidebar
        div(class='col s12 m12 l12')
          div(class="main-wrap second")
            block content
      div(class="top-left")
          a.button-collapse.show-on-large(href='#',data-activates='slide-out')
            i.material-icons.highlight-color menu
      p.center Made with 💙 by Reneicko Getten™
      p.center Copyright © 2018 C.H.I.P.S
    script(src='/javascripts/moment.js')
    script(src="/javascripts/Chart.bundle.js")
    script(src='/javascripts/materialize.min.js')
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/scripts.js")
    script(src="/javascripts/attrchange.js")
   
    
        
    
