doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Compiled and minified CSS
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    // Compiled and minified JavaScript
    script(src='/javascripts/jquery.min.js')
  
    link(rel="stylesheet", href="/stylesheets/animate.css")
    link(rel="stylesheet",href="/stylesheets/hover.css")
    script(src='https://cdn.onesignal.com/sdks/OneSignalSDK.js', async='')
    script.
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
      OneSignal.init({
      appId: "5678a7af-2cd3-4158-9953-360547c5d811",
      });
      });
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/countup/countUp.js")
  body
    div(class='container fluid')
      div(class='row')
        ul#slide-out.side-nav.primary
          div(class="list-wrap")
            if !user
              li
                a(href="/users/login")
                  i.material-icons.white-text person
                  | Login
              li
                a(href="/users/register")
                  i.material-icons.white-text person_add
                  | Register
            if user
              li
                a(href="/inventory") 
                  i.material-icons.white-text home
                  |  Home
              li
                a(href="/inventory/items")
                  i.material-icons.white-text list
                  | Products
              li
                a(href="/users/profit")
                  i.material-icons.white-text insert_chart
                  | Profits

                a(href="/inventory/item/create")
                  i.material-icons.white-text add_shopping_cart
                  | Add
              li
                a(href="/users/logout")
                  i.material-icons.white-text input
                  | Logout
              if user.admin==false
                li
                  a(href="/users/consumer").userlink 
                    i.material-icons.white-text shopping_basket
                    |  View Products
                li
                  a(href="/users/cart").userlink 
                    i.material-icons.white-text shopping_cart
                    | My Cart

                  a(href="/users/order/"+user._id).userlink 
                    i.material-icons.white-text done_all
                    | Completed Orders
                li
                  a(href="#").userlink 
                    i.material-icons.white-text vpn_key
                    | Forgot  Password
                li
                  a(href="/users/logout").userlink 
                    i.material-icons.white-text input
                    | Logout
              

            
          block sidebar
        div(class='col s12 m12 l12')
          div(class="main-wrap second")
            block content
      div(class="top-left")
          a.button-collapse.show-on-large(href='#',data-activates='slide-out')
            i.material-icons.highlight-color menu
    script.
      if( $(".flash-error:contains('Invalid')").length >0 )
      {
      $("p i").removeClass("hide")
      }
      else
      console.log('no')
    script(src='/javascripts/moment.js')
    script(src="/javascripts/Chart.bundle.js")
    script(src='/javascripts/materialize.min.js')
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/scripts.js")
    script(src="/javascripts/attrchange.js")
   
    
        
    
