extends layout

block content

 .row
  h1  LOGIN
  h6  Enter your credentials down below
  form(method="post" action="/users/login" ).col.s12
    .row
      .input-field.col.s6.offset-s3
        i.material-icons.prefix account_circle
        input(placeholder='username', type='text' name="Username" id="icon_prefix" class="validate")
        label(for='icon_prefix')
    .row
      | #{success_msg}
      | #{error}
      .input-field.col.s6.offset-s3
        i.material-icons.prefix lock
        input(type='password' placeholder="Password" name="password" id="icon_prefix" class="validate")
        label(for='password')
    button.btn.btn-primary.move.btn-large(type='submit') Login
      i.material-icons.right lock_open
      
                                        