extends layout

block content

 .row
  h1  LOGIN
  h6  Enter your credentials to login
  br
 
  p.flash-error.animated.flash.move-up
    | #{messages.raf}
    i.material-icons.left.hide.highlight-color error
  p.flash-success.animated.flash.center
    | #{success_msg}
  form(method="post" action="/users/login" ).col.s12
    .row
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix.highlight-color account_circle
        input(placeholder='Email', type='email' name="email" id="icon_prefix" class="validate usrname email" required maxlength="50")
        label(for='icon_prefix' data-error="You actually need to type in an email 😒")
      .input-field.col.s8.offset-s2.l4.offset-l4
        i.material-icons.prefix.highlight-color lock
        input(type='password' placeholder="Password" name="password" id="icon_prefix" class="validate pwd" minlength="6" required)
        label(for='password' data-error="Password should be a minimum of six characters 😒")
    button.btn.btn-primary.move.btn-large.login(type='submit' data-position="bottom" data-delay="50" data-tooltip="")
     span.login-text
      |Login
     i.material-icons.right.white-text lock_open
    p.center.login-info
      a(href="/users/register" class="hvr-bounce-in") Not Registered? Register Here
    p.center.login-info-forgot
      a(href="/users/forgot" class="hvr-bounce-in") Forgot Password? Click Here