extends layout

block content
  h1=title
  a.btn-floating.btn-large.waves-effect.waves-light.middle-left.highlight-bg.white-text(href="/inventory/item/create" id="menu" style="display:none")
    i.material-icons.white-text add
  div.tap-target(data-activate="menu")
    div.tap-target-content
      h5
        | ok
      p
        | ok
  .row
    .col.s12.l12.m12
      ul.collection
        each order,i  in orders
          li.collection-item.avatar.consumer-list
            button.waves-effect.waves-light.btn.link-list.red.btn__width__100
              i.material-icons.left.white-text remove_shopping_cart
              input(type="hidden", name="_id" value=)
              | ORDER READY
            span.title #{order.item_name}
            span.title.right.price.highlight-color  
            p.cart-indent
              i.material-icons info_outline
              span  Amount Ordered :
                span.quan  
      ul.collection.total
          li.collection-item.avatar.consumer-list
            span.title  Amount  Due
            span.title.right.price.highlight-color  #{amount_due}
      button.waves-effect.waves-light.btn.btn__width__100.submit-order
        | SUBMIT ORDER



  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
  script(src="/javascripts/itemlist.js")
    



