extends layout

block content
  - var expense=30000;
  h1 #{title}
    h2 #{data.item_total[0].sum}
  div.container
    .row
    .col.s12
      ul.tabs
        li.tab.col.s3
          a.active(href='#test1') Weekly Sales Total
        li.tab.col.s3
          a(href='#test2') Test 2
        li.tab.col.s3.disabled
          a(href='#test3') Disabled Tab
        li.tab.col.s3
          a(href='#test4') Test 4
    #test1.col.s12
     ul.collection
      li.collection-item.active
        div.week
          | Week 1-
          div.secondary-content(href='#!')
            | #{expense}
          
    #test2.col.s12 Test 2
    #test3.col.s12 Test 3
    #test4.col.s12 Test 4
  

    
        
