extends layout

block content

 .row
  h1.register REGISTER
  if errors 
        ul.register-errors
            for error in errors
                li.li-errors.animated.flash
                  i.material-icons error 
                  != error.msg
  h6 Fill out the fields down below
  form(method="POST" id="reg" action="/users/register").col.s12
    .row
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix account_circle
        input(placeholder='Name', type='text' name='name' id="icon_prefix" class="validate" required="true") 
        label(for='icon_prefix' data-error="You actually need to type in a name 😒") 
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix contact_mail
        input(type='email' name='email' placeholder="Email"  required="true" id="icon_prefix" class="validate")
        label(for='icon_prefix' data-error="Enter the correct format THANKS! 🤗") 
    .row
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix contacts
        input( placeholder='Username', required="true" type='text' name='username' id="icon_prefix" class="validate")
        label(for='icon_prefix' data-error="Enter a username ty :)") 
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix lock
        input(type="password" minlength="6" class="validate pass" name="password" placeholder="Password" required="true" id="icon_prefix")
        label(for='icon_prefix' data-error="Password should be a minimum of six characters") 
    .row
      .input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix lock_outline
        input(type='password' class="validate pass2" name='password2' placeholder="Confirm Password" id="icon_prefix")
        label(for='password2' class="hide") 
      //.input-field.col.s8.l4.offset-s2.offset-l4
        i.material-icons.prefix security
        input(type='password' class="secret" name='secret' placeholder="Secret Key" id="icon_prefix")
        label(for='secret' class="hide")
    .row
      .input-field.col.s8.l4.offset-s2.offset-l4
        select(name="usertype")
          option(value='', disabled='', selected='') Select A Type
          option(value='user') User
          option(value='admin') Admit
        label User Type
         
        
    button.btn.btn-primary.move.register-btn.btn-large.checkpass(type='submit') Register
   

    
