extends layout

block content
  h1 #{title}
    div.container
        div.row
            div.col.s12
                div.progress.mt-60
                    div.indeterminate
                div.msg.hide
                    p.highlight-color Scheduled clean up complete,come back tomorrow.