@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Montserrat:300,400|Roboto:400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased; }

html {
  background-color: #1C1C25; }

.prim-light {
  background: #FE4B68; }

body {
  overflow-x: hidden !important; }

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  color: #fff;
  margin-left: 0.4em; }

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  color: #fff;
  margin-left: 0.4em;
  margin-bottom: 2em; }

h5 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff; }

h6 {
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-top: 3em; }

.side-nav li {
  font-family: "Montserrat", sans-serif; }
  .side-nav li a {
    padding: 0 80px;
    font-size: 1.2em;
    text-transform: inherit; }

p {
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif; }

.num {
  font-size: 5em;
  font-family: "Montserrat", sans-serif; }

.money {
  text-align: left;
  position: absolute; }

.primary {
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB46A2), color-stop(100%, #FE3959));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(89deg, #FE3959 0%, #FB46A2 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(89deg, #FE3959 0%, #FB46A2 100%);
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(1deg, #FE3959 0%, #FB46A2 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB46A2', endColorstr='#FE3959',GradientType=0 );
  /* ie6-9 */ }

.primary-reverse {
  background: -moz-linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #FB46A2), color-stop(87%, #FE4B68), color-stop(100%, #FE4B68));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FE4B68', endColorstr='#FB46A2',GradientType=1 );
  /* ie6-9 */ }

.second {
  background-color: #1C1C25; }

.container.fluid {
  width: 100%;
  max-width: 100%; }

.container.fluid > .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0; }

a {
  color: #fff !important; }

nav {
  -webkit-box-shadow: none;
  box-shadow: none; }

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
  line-height: 25px; }

.main-wrap {
  height: 100vh;
  margin: 0; }
  .main-wrap form {
    margin-top: 3em; }

.card {
  border-radius: 25px !important; }

.list-wrap {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%); }

.move {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.material-icons {
  line-height: normal; }

i {
  color: #fff !important; }

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #38FAA6;
  -webkit-box-shadow: 0 1px 0 0 #38FAA6;
  box-shadow: 0 1px 0 0 #38FAA6; }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #FE3959;
  -webkit-box-shadow: 0 1px 0 0 #FE3959;
  box-shadow: 0 1px 0 0 #FE3959; }

input[type=text], input[type=password], input[type=email] {
  color: #fff; }

.btn {
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB46A2), color-stop(100%, #FE3959));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(89deg, #FE3959 0%, #FB46A2 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(89deg, #FE3959 0%, #FB46A2 100%);
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(1deg, #FE3959 0%, #FB46A2 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB46A2', endColorstr='#FE3959',GradientType=0 );
  /* ie6-9 */
  color: #fff; }

.flash-error {
  color: #FF4073;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 20px;
  font-family: "Roboto", sans-serif;
  white-space: normal;
  min-width: 218px; }
  .flash-error i {
    margin-top: -3px; }

.hide {
  visibility: hidden; }

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 3em; }
  .top-left i {
    font-size: 3em; }

.overview {
  margin-top: 3%; }
  .overview li {
    margin: 0 auto !important; }

.card-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 300 !important;
  letter-spacing: 1.3px;
  font-size: 1.1em !important; }

.item {
  font-size: 0.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .register {
    font-size: 3.5em; }

  .top-left {
    margin-left: 1em; }
    .top-left i {
      font-size: 2.8em; }

  i.left {
    margin-right: 0px; } }

/*# sourceMappingURL=style.css.map */
