@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Montserrat:300,400|Roboto:400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


//Colors
$primary:#1C1C25;
$text:#fff;
$prim-darker:#FE4B68;
$green:#00A676;
$wild:#FB46A2;



//Fonts

$robo:'Roboto',sans-serif;
$mons:'Montserrat', sans-serif;
$lato:'Lato',sans-serif;
$fred:'Fredoka One', cursive;

*{
  text-rendering: geometricPrecision;
  -webkit-font-smoothing:antialiased;
}

html{
background-color: $primary;
}
.green-text{
  color: $green !important;
}
.prim-text{
 color: $prim-darker !important;
}
.wild-text{
  color: $wild !important;
}

.prim-light
{
  background:$prim-darker;
}
body{
overflow-x: hidden !important;
}
h1{
font-family: $mons;
text-align: center;
font-weight: 400;
color: $text;
margin-left: 0.4em;
}
h3{
  font-family: $mons;
  text-align: center;
  font-weight: 400;
  color: $text;
  margin-left: 0.4em;
  margin-bottom: 2em;
}
h5{
font-family: $mons;
text-align: center;
color: $text;
}
h6{
text-align: center;
color: $text;
font-family: $mons;
margin-top: 3em;
}

.side-nav{
li{

  font-family: $mons;
  a{
    padding: 0 80px;
    font-size: 1.2em;
    text-transform:inherit;
  }
}
}
p{
  text-align: center;
  color: $text;
  font-family: $robo;
}
.num{
  font-size: 5em;
  font-family: $mons;
}
.money{
 text-align: left;
 position: absolute;
}



.primary{ /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB46A2), color-stop(100%, #FE3959)); /* safari4+,chrome */
background: -webkit-linear-gradient(89deg, #FE3959 0%, #FB46A2 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(89deg, #FE3959 0%, #FB46A2 100%); /* opera 11.10+ */ /* ie10+ */
background: linear-gradient(1deg, #FE3959 0%, #FB46A2 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB46A2', endColorstr='#FE3959',GradientType=0 ); /* ie6-9 */
}
.primary-reverse{
  background: -moz-linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #FB46A2), color-stop(87%, #FE4B68), color-stop(100%, #FE4B68)); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%); /* ie10+ */
  background: linear-gradient(45deg, #FB46A2 0%, #FE4B68 87%, #FE4B68 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FE4B68', endColorstr='#FB46A2',GradientType=1 ); /* ie6-9 */
}
.second{
background-color: $primary;
}
.container.fluid { width: 100%; max-width: 100%; } .container.fluid > .row { margin-left: 0; margin-right: 0;margin-bottom: 0; }
a{
color:$text !important;
}
nav{
-webkit-box-shadow: none;
        box-shadow: none;
}
.bottom{
position: absolute;
bottom:0;
left:0;
text-align: center;
font-family: $robo;
width: 100%;
line-height: 25px;
}
.main-wrap{
height: 100vh;
margin: 0;
form{
margin-top:3em;
}
}
.card{
  border-radius: 25px !important;
}

.list-wrap{
position: absolute;
top:40%;
-webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
        transform: translateY(-40%);
}

.move{
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}
.move-down{
  position: absolute;
  left: 50%;
  bottom: 25%;
          transform: translate(-50%,-25%);
}
.material-icons{
line-height: normal;
}
i{
color: $text !important;
}
input {
&:not([type]):focus:not([readonly]), &[type=text]:not(.browser-default):focus:not([readonly]), &[type=password]:not(.browser-default):focus:not([readonly]), &[type=email]:not(.browser-default):focus:not([readonly]), &[type=url]:not(.browser-default):focus:not([readonly]), &[type=time]:not(.browser-default):focus:not([readonly]), &[type=date]:not(.browser-default):focus:not([readonly]), &[type=datetime]:not(.browser-default):focus:not([readonly]), &[type=datetime-local]:not(.browser-default):focus:not([readonly]), &[type=tel]:not(.browser-default):focus:not([readonly]), &[type=number]:not(.browser-default):focus:not([readonly]), &[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #38FAA6;
  -webkit-box-shadow: 0 1px 0 0 #38FAA6;
  box-shadow: 0 1px 0 0 #38FAA6;
}
}

textarea.materialize-textarea:focus:not([readonly]) {
border-bottom: 1px solid #FE3959;
-webkit-box-shadow: 0 1px 0 0 #FE3959;
box-shadow: 0 1px 0 0 #FE3959;
}

input[type=text],input[type=password],input[type=email],input[type=number]{
color: $text;
}
.btn{ /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB46A2), color-stop(100%, #FE3959)); /* safari4+,chrome */
background: -webkit-linear-gradient(89deg, #FE3959 0%, #FB46A2 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(89deg, #FE3959 0%, #FB46A2 100%); /* opera 11.10+ */ /* ie10+ */
background: linear-gradient(1deg, #FE3959 0%, #FB46A2 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FB46A2', endColorstr='#FE3959',GradientType=0 ); /* ie6-9 */
color: $text;
}
.btn-actions{
  background: transparent !important;
  box-shadow:none;
  padding-right: 5px;
  margin: 0;
  &:hover{
    box-shadow: none !important;
  }
}
td,th{
  padding: 35px 5px;
}
.no-mt{
  margin-top: 0 !important;
}

.flash-error{
color:#FF4073;
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
height: 20px;
i{
  margin-top: -3px;
}
font-family: $robo;
white-space: normal;
min-width: 218px;
}
.flash-success{
  color:$green;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 20px;
  i{
    margin-top: -3px;
  }
  font-family: $robo;
  white-space: normal;
  min-width: 218px;
}

.hide{
visibility: hidden;
}
.top-left{
position: absolute;
top: 0;
left: 0;
margin: 3em;
i{
  font-size: 3em;
}
}
.overview{
  margin-top: 3%;
li{
margin: 0 auto !important;
}
}
.card-title{
  font-family: $mons;
  text-transform: uppercase;
  font-weight: 300 !important;
  letter-spacing: 1.3px;
  font-size: 1.1em !important;
}
.item{
  font-size: 0.2em;
  font-family: $mons;
  font-weight: 300;
}
.modal-content{
background: $primary;
h4{
  i{
    font-size: 0.5em;
  }
  font-family: $mons;
  text-transform: uppercase !important;
  color: $text;
}
p{

  padding: 2px;
  i{
    position: absolute;
    top:22.3%;
    left: 18%;
  }
}
}
.actions{
  width: 0px;
  display: inline-flex;
  margin: 0;
  padding-right: 4px;
  position: absolute;
  right: 36%;
  top: 29.5%;
transform: translate(36%,-29.5%);
}
.ddisabled{
  background-color: none !important;
  pointer-events: none;
 i{
  color: gray !important;
 }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .register{
    font-size: 3.5em
  }
  h1{
    font-size: 3.5em;
    margin-top: 0.7em;
  }
  .top-left{
    margin-left: 1em;
    i{
      font-size: 2.8em;
    }
  }
  i.left {
          margin-right: 0px;
      }
      .bottom{
        bottom:-50px;
      }
}
/* ----------- Non-Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) {
  .actions{
    top:26.5%;
    right: 36.9%;
    transform:translate(-26.5%,-36.9%);
  }
}

@media screen
and(min-device-width:769px)
and(max-device-width:1024px)
and(-webkit-min-device-pixel-ratio:1){
  .actions{
    top:35.3%;
    right: 40.9%;
    transform:translate(-35.3%,-40.9%);
  }
}
@media screen
and(min-device-width:320px)
and(max-device-width:768px)
and(-webkit-min-device-pixel-ratio:1){
  .actions{
    top:91.3%;
    left: 2%;
    transform:translate(-91.3%,-2%);
  }
}




th{
  font-family: $mons;
  color: $text;
}
td{
  font-family: $robo;
  color: $text;
}


