@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Montserrat:300,400|Roboto:400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("/fonts/MaterialIcons-Regular.woff2") format("woff2"), url("/fonts/MaterialIcons-Regular.woff") format("woff"), url("/fonts/MaterialIcons-Regular.ttf") format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/* ------------Mixins -----------*/
/* ------------Mixins END -----------*/
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: #0087fb;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #80c3fd; }

body {
  scrollbar-face-color: #0087fb;
  scrollbar-track-color: #80c3fd; }

* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased; }

html {
  background-color: #fff; }

.btn:hover, .btn-large:hover {
  background-color: #0087fb; }

.green-text {
  color: #00A676 !important; }

.wild-text {
  color: #0087fb !important; }

.highlight-color {
  color: #0087fb !important; }

.backdrop {
  background-color: #0087fb !important; }

.highlight-bg {
  background: #0087fb !important; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #abaeb0; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #abaeb0; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #abaeb0; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #abaeb0; }

body {
  overflow-x: hidden !important; }

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  color: #858789;
  margin-left: 0.4em; }

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  color: #858789;
  margin-left: 0.4em;
  margin-bottom: 2em; }

h5 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #858789; }

h6 {
  text-align: center;
  color: #858789;
  font-family: "Montserrat", sans-serif;
  margin-top: 3em; }

.side-nav li {
  font-family: "Montserrat", sans-serif; }
  .side-nav li a {
    padding: 0 80px;
    font-size: 1.2em;
    text-transform: inherit;
    color: #fff !important; }

.pf-info {
  color: #858789 !important; }

p {
  color: #858789;
  font-family: "Roboto", sans-serif; }

.num {
  font-size: 5em;
  font-family: "Montserrat", sans-serif; }

.money {
  text-align: left;
  position: absolute; }

.collection .collection-item.avatar {
  min-height: 130px;
  padding-left: 6px !important;
  margin-bottom: 0; }
  .collection .collection-item.avatar .btn {
    width: 45px; }
  .collection .collection-item.avatar .link-list {
    position: absolute;
    bottom: -1px;
    left: 5px; }
    .collection .collection-item.avatar .link-list:nth-child(1) {
      left: 8rem; }
    .collection .collection-item.avatar .link-list:nth-child(2) {
      left: 16rem; }
  .collection .collection-item.avatar:nth-child(odd) {
    border-left: 4px solid #0087fb; }
  .collection .collection-item.avatar:nth-child(even) {
    border-left: 4px solid #38FAA6; }
  .collection .collection-item.avatar:nth-child(4n) {
    border-left: 4px solid #FF4073; }
  .collection .collection-item.avatar .title {
    padding-left: 0.5rem; }

.collection .collection-item {
  border-bottom: none;
  background: #fff;
  margin-bottom: 1px; }
  .collection .collection-item p.indent {
    margin-left: 0.5rem;
    font-size: 12px; }
    .collection .collection-item p.indent i {
      font-size: 15px;
      position: relative;
      top: 3px; }

.secondary-content p.price {
  font-size: 1.7em;
  padding-top: 1rem; }

.light-red-text {
  color: #FF4073 !important; }

.light-red {
  background: #FF4073; }

.light-green {
  background: #38FAA6; }

.primary {
  /* ff3.6+ */
  background: #0087fb; }

.second {
  background-color: #fff; }

.container.fluid {
  width: 100%;
  max-width: 100%; }

.container.fluid > .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0; }

a {
  color: #0087fb !important; }

nav {
  -webkit-box-shadow: none;
  box-shadow: none; }

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
  line-height: 0px; }

.main-wrap {
  height: 100vh;
  margin: 0; }
  .main-wrap .form {
    margin-top: 3em; }

.card {
  border-radius: 25px !important; }

.list-wrap {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%); }

.move, .register-errors {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.move-up {
  top: 14%; }

.move-down {
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%, -25%); }

.material-icons {
  line-height: normal; }

i {
  color: #858789 !important; }

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #38FAA6;
  -webkit-box-shadow: 0 1px 0 0 #38FAA6;
  box-shadow: 0 1px 0 0 #38FAA6; }

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #FE3959;
  -webkit-box-shadow: 0 1px 0 0 #FE3959;
  box-shadow: 0 1px 0 0 #FE3959; }

input[type=text], input[type=password], input[type=email], input[type=number] {
  color: #858789; }

.loader {
  background-image: url("/images/loader.gif") !important; }

.mt-60 {
  margin-top: 30vh; }

.msg p {
  color: #0087fb; }

.progress {
  background-color: #c8e6ff; }
  .progress .indeterminate {
    background-color: #0087fb; }

.btn {
  /* ff3.6+ */
  width: 140.567px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0087fb; }

.btn-actions {
  background: transparent !important;
  box-shadow: none;
  padding-right: 5px;
  margin: 0; }
  .btn-actions:hover {
    box-shadow: none !important; }

td, th {
  padding: 35px 5px; }

.no-mt {
  margin-top: 0 !important; }

.btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #0087fb; }

.min-width-300 {
  min-width: 280px !important; }

.flash-error {
  color: #FF4073;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 20px;
  font-family: "Roboto", sans-serif;
  white-space: normal;
  min-width: 220px; }
  .flash-error i {
    margin-top: -3px; }

.center-horizontal {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.flash-success {
  color: #00A676;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 20px;
  font-family: "Roboto", sans-serif;
  white-space: normal;
  min-width: 218px; }
  .flash-success i {
    margin-top: -3px; }

.hide {
  visibility: hidden; }

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 3em; }
  .top-left i {
    font-size: 3em; }

.overview {
  margin-top: 3%; }
  .overview li {
    margin: 0 auto !important; }

.card-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 300 !important;
  letter-spacing: 1.3px;
  font-size: 1.1em !important; }

.item {
  font-size: 0.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

.modal-content {
  background: #fff; }
  .modal-content h4 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase !important;
    color: #858789; }
    .modal-content h4 i {
      font-size: 0.5em; }
  .modal-content p {
    padding: 2px; }
    .modal-content p i {
      position: absolute;
      top: 22.3%;
      left: 18%; }

.actions {
  width: 0px;
  display: inline-flex;
  margin: 0;
  padding-right: 4px;
  position: absolute;
  right: 36%;
  top: 29.5%;
  transform: translate(36%, -29.5%); }

.ddisabled {
  background-color: none !important;
  pointer-events: none; }
  .ddisabled i {
    color: gray !important; }

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .move-down {
    bottom: -6.5%;
    transform: translate(-50%, 6.5%);
    margin-bottom: 25px !important;
    white-space: nowrap; }

  .top-left {
    margin-left: 1.1em; }
    .top-left i {
      font-size: 2.8em; }

  .bottom {
    display: none; } }
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  .move-down {
    bottom: -58%;
    transform: translate(-50%, 58%);
    white-space: nowrap;
    margin-bottom: 20px !important; } }
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .register {
    font-size: 3.5em; }

  h1 {
    font-size: 2.7em;
    margin-top: 1.1em; }

  .top-left {
    margin-left: 1em; }
    .top-left i {
      font-size: 2.8em; }

  i.left {
    margin-right: 0px; }

  .bottom {
    visibility: hidden; }

  .move-down {
    bottom: 10%;
    transform: translate(-50%, -10%);
    white-space: nowrap; } }
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .move-down {
    bottom: -50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;
    margin-bottom: 5px !important; } }
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bottom {
    visibility: visible; } }
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .move-down {
    bottom: -40%;
    transform: translate(-50%, 40%);
    white-space: nowrap;
    margin-bottom: 5px !important; } }
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .move-down {
    bottom: 25%;
    transform: translate(-50%, -25%);
    white-space: nowrap;
    margin-bottom: 25px !important; }

  .bottom {
    visibility: visible; } }
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) {
  .move-down {
    bottom: -30%;
    transform: translate(-50%, 30%);
    white-space: nowrap;
    margin-bottom: 25px !important; }

  .bottom {
    visibility: hidden; } }
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait */
@media screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  .bottom {
    visibility: visible; } }
/**  ----------- General Screens -----------**/
/* Landscape */
@media screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) {
  .move-down {
    bottom: -55%;
    transform: translate(-50%, 55%);
    white-space: nowrap;
    margin-bottom: 25px !important; } }
/* Landscape */
@media screen and (min-device-width: 375px) and (max-device-height: 568px) and (orientation: portrait) {
  .move-down {
    bottom: -55%;
    transform: translate(-50%, 55%);
    white-space: nowrap;
    margin-bottom: 25px !important; }

  .num {
    font-size: 4rem; } }
/* Landscape */
@media screen and (min-device-width: 768px) and (max-device-height: 568px) and (orientation: landscape) {
  .move-down {
    bottom: 5%;
    transform: translate(-50%, -5%);
    white-space: nowrap;
    margin-bottom: 25px !important; }

  table .table-row-style {
    box-shadow: none !important; }

  .delete__button {
    margin-top: -7px !important; }

  .update__button {
    margin-top: -13px !important; }

  .sell__button {
    margin-top: -20px !important; } }
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (orientation: portrait) {
  .move-down {
    bottom: -6.5%;
    transform: translate(-50%, 6.5%);
    margin-bottom: 25px !important;
    white-space: nowrap; }

  .top-left {
    margin-left: 1.1em; }
    .top-left i {
      font-size: 2.8em; }

  .bottom {
    display: none; }

  .num {
    font-size: 2.5em; } }
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) {
  .move-down {
    bottom: 5.5%;
    transform: translate(-50%, -5.5%);
    margin-bottom: 25px !important;
    white-space: nowrap; }

  .top-left {
    margin-left: 1.1em; }
    .top-left i {
      font-size: 2.8em; }

  .bottom {
    display: none; }

  .num {
    font-size: 2.8em; }

  .money {
    margin-top: -10px !important; } }
/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .actions {
    top: 26.5%;
    right: 36.9%;
    transform: translate(-26.5%, -36.9%); } }
@media screen and (min-device-width: 1920px) and (max-device-height: 1200px) {
  .actions {
    top: 26.5%;
    right: 36.9%;
    transform: translate(-26.5%, -36.9%); }

  .move-up {
    top: 13%; } }
@media screen and (min-device-width: 1920px) and (max-device-height: 1080px) {
  .move-up {
    top: 15%; } }
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .actions {
    top: 35.3%;
    right: 40.9%;
    transform: translate(-35.3%, -40.9%); }

  .bottom {
    visibility: hidden; } }
@media screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .actions {
    top: 91.3%;
    left: 2%;
    transform: translate(-91.3%, -2%); } }
.message-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.msghead {
  color: #858789;
  text-transform: uppercase;
  width: 60vw; }

th {
  font-family: "Montserrat", sans-serif;
  color: #858789; }

td {
  font-family: "Roboto", sans-serif;
  color: #858789; }

.register-btn {
  margin-top: 4em;
  margin-bottom: 3em; }

.register-errors {
  margin-top: 3.8em; }
  .register-errors .material-icons {
    vertical-align: middle;
    font-size: 23px;
    margin-right: 8px; }
  .register-errors .li-errors {
    color: #FF4073; }

/* Portrait */
@media screen and (min-device-width: 425px) and (max-device-height: 568px) and (orientation: portrait) {
  .bottom {
    visibility: visible; }

  .move-down {
    bottom: 5%;
    transform: translate(-50%, -5%);
    white-space: nowrap;
    margin-bottom: 25px !important; } }
input.valid:not([type]), input.valid:not([type]):focus, input[type="text"].valid:not(.browser-default), input[type="text"].valid:not(.browser-default):focus, input[type="password"].valid:not(.browser-default), input[type="password"].valid:not(.browser-default):focus, input[type="email"].valid:not(.browser-default), input[type="email"].valid:not(.browser-default):focus, input[type="url"].valid:not(.browser-default), input[type="url"].valid:not(.browser-default):focus, input[type="time"].valid:not(.browser-default), input[type="time"].valid:not(.browser-default):focus, input[type="date"].valid:not(.browser-default), input[type="date"].valid:not(.browser-default):focus, input[type="datetime"].valid:not(.browser-default), input[type="datetime"].valid:not(.browser-default):focus, input[type="datetime-local"].valid:not(.browser-default), input[type="datetime-local"].valid:not(.browser-default):focus, input[type="tel"].valid:not(.browser-default), input[type="tel"].valid:not(.browser-default):focus, input[type="number"].valid:not(.browser-default), input[type="number"].valid:not(.browser-default):focus, input[type="search"].valid:not(.browser-default), input[type="search"].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid #0087fb;
  -webkit-box-shadow: 0 1px 0 0 #0087fb;
  box-shadow: 0 1px 0 0 #0087fb; }

.card {
  -webkit-box-shadow: 1px 7px 17px -6px rgba(133, 135, 137, 0.48);
  -moz-box-shadow: 1px 7px 17px -6px rgba(133, 135, 137, 0.48);
  box-shadow: 1px 7px 17px -6px rgba(133, 135, 137, 0.48); }

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1.3rem !important;
  line-height: inherit !important; }

table {
  border-spacing: 10px;
  border-collapse: separate !important; }
  table .table-row-style {
    box-shadow: 1px 0px 25px -1px rgba(133, 135, 137, 0.3);
    border-radius: 18px; }

.toast-custom {
  background-color: #0087fb;
  color: #fff;
  border-radius: 24px; }

span.badge {
  color: white; }

.collection {
  border: none; }
  .collection .list-data {
    -webkit-box-shadow: 1px 7px 17px -6px rgba(133, 135, 137, 0.48);
    -moz-box-shadow: 1px 7px 17px -6px rgba(133, 135, 137, 0.48);
    box-shadow: 1px 7px 17px -6px rgba(133, 135, 137, 0.48);
    border-radius: 8px;
    margin-bottom: 10px !important; }

.tabs .indicator {
  background-color: #0087fb; }

.f-reduce {
  font-size: 0.99rem; }
  .f-reduce i {
    font-size: 1.1rem !important;
    margin-left: 0;
    margin-top: 0.4px; }

.middle-left {
  bottom: 50vh;
  left: 20px;
  position: fixed; }

/*# sourceMappingURL=style.css.map */
